
/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Normalize */

* {
    margin: 0;
    padding: 0;
}

/* Nav-Bar */

.nav1-responsive {
    display: none;
}

body {
    font-family: 'Roboto';
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto';
    background: #1052ad;
}

.nav1 {
    display: flex;
    align-items: center;
    margin: 15px;
}

.nav1 img{
    width: 150px;
    margin-right: 35px;
}

.nav1 ul{
    display: flex;
}


.nav1 ul li{
    list-style: none;
}


.nav1 ul li a{
    text-decoration: none;
    margin: 10px;
    color: #ffffff;
    font-weight: 300;
}

.nav2 {
    display: flex;
    align-items: center;
    margin: 15px;
}

.nav2 input{
    margin-right: 20px;
    padding: 8px 15px;
    border-radius: 30px;
    border: none;
}

.nav2-icons {
    display: flex;
    align-items: center;
}

.bar {
    background: #ffffff;
    width: 1px;
    height: 30px;
    margin-right: 10px;
}

.nav2-icons {
    display: flex;
    align-items: center;
}


.nav2-icons i{
    margin-right: 10px;
    font-size: 23px;
    color: #ffffff;
}

/* Content */

.landing {
    display: flex;
    align-items: center;
}


.landing img{
    width: 380px;
}

.landing-container {
    display: flex;
    justify-content: center;
    background: #1052ad;
}

.landing-text-h2 {
    margin-bottom: 35px;
}

.landing-text-h2 h2{
    font-family: 'Roboto';
    font-weight: 400;
    color: #ffffff;
    line-height: 60px;
    font-size: 40px;
}

.landing-text a {
    text-decoration: none;
    font-family: 'Roboto';
    background: #444444;
    color: #7fc9ff;
    padding: 10px 30px;
    border-radius: 30px;
}

.articles-container {
    background: #303030;
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
}

.article1 {
    padding-top: 40px;
    display: flex;
    width: 700px;
    margin: 20px;
    flex-shrink: initial;
}

.article1-1 img {
    width: 300px;
    margin: 25px;
}

.article1-2 {
    display: flex;
    flex-direction: column;
    justify-content:center;
}


.article1-2 h5{
    margin-bottom: 20px;
    color: #7fc9ff;
    font-size: 20px;
    font-weight: 400;
}

.article1-2 p{ 
    font-size: 16px;
    line-height: 32px;
    initial-letter: normal;
    color: #ffffff;
    font-weight: 300;
}


.last-arc img{
    width: 100px;
}

/* Mediacueris */

@media (max-width: 1150px) {
    .nav1 {
        display: none;
    }

    .nav1-responsive {
        display: flex;
        align-items: center;
    } 


    .nav1-responsive img{
        width: 35px;
        margin-left: 25px;
    } 

    .nav1-responsive i{
        margin-left: 25px;
    } 

    .landing {
        flex-direction: column !important;
        align-items: center !important;
    }
}